<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-5" />
    </ng-template>
    <ng-template pTemplate="end">
        <!-- <p-menubar [model]="itemsEnd"></p-menubar> -->
        <button #button pButton type="button" icon="pi pi-user" class="p-button-text"
            (click)="this.menu.toggle($event)"></button>
        <p-menu #menu [model]="itemsEnd" [popup]="true" (onShow)="onFocuButtonMeny(true)"
            (onHide)="onFocuButtonMeny(false)"></p-menu>
    </ng-template>
</p-menubar>